/*Lists all color variables by relationship to the page*/
/*Universal Colors*/
$SwissRed: #be1902;
$IconRed: #CC0000;
$LightGrey: #f2f2f2;


/*Font Colors*/
$DarkGrey: #333333;



/*Specific/Unique Colors*/
$navBarColor: #7C736C;



/*Footer Colors*/
$FooterGrey: #edece8;