/*Lists all font-families by relationship to the page*/
/*Universal Fonts*/
$mainBody:	Arial, Helvetica, sans-serif;


/*Specific/Unique Fonts*/
/*Navbar Font*/

@mixin navBar {
	font-size: .75em;
	text-transform: uppercase;
	font-weight: bold;
	color: $DarkGrey;
}


@mixin mainNavButton {
	font-family: "CH-Sans-Regular","CH-Sans",Arial,sans-serif;
	font-weight: 300em;
	text-decoration: none;
	color: $DarkGrey;
}

#login {
	@include mainNavButton;
}