/*Describes backgrounds*/
/*Universal Backgrounds*/


/*Specific/Unique backgrounds*/
@mixin swissLogo {
	width: 160px;
	height: 37px;
	display: block;
	background-image: url("images/logo-swiss.png"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160px 37px;
}

@mixin navLinksBG {
	background-color: $DarkGrey;
	
}





/*Couple chillin*/
@mixin backgroundCouple {
	background-image: url("images/coupleChillin.jpg");
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translate(0px, 0px);
}


/*Articles*/
@mixin fiveStars {
	background-image: url("images/Five-Stars.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 126px 25px;	
}


/*Airplanes*/
@mixin airplane1 {
	background-image: url("images/airplane1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 650px 425px;
	&:hover {
		transform: scaleX(-1);
	}
}
@mixin airplane2 {
	background-image: url("images/airplane2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 500px 325px;
	&:hover {
		transform: scaleX(-1);
	}
}
@mixin airplane3 {
	background-image: url("images/airplane3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 500px 325px;
	&:hover {
		transform: scaleX(-1);
	}
}
@mixin airplane4 {
	background-image: url("images/airplane4.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 650px 425px;
	&:hover {
		transform: scaleX(-1);
	}
}