/*Describes backgrounds*/
/*Universal Backgrounds*/


/*Specific/Unique backgrounds*/
@mixin swissLogo {
	width: 160px;
	height: 37px;
	display: block;
	background-image: url("images/logo-swiss.png"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160px 37px;
}


