/*Defines borders by relationship to the page*/
@import "variables/mainVar";
/*Universal Borders*/





/*Specific Borders*/
@mixin navTabsBorder {
	border: solid #e1dfda;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
}