/*Collection of all partials, and structural css*/
@import "partials/borders";
@import "partials/backgrounds";
@import "partials/font-mixins";
@import "variables/mainVar";

html {
	font-size: 14px;
}

body {
	width: 67.14286rem;
	margin: 0 auto;
	@include bodyFont;
}


.site-header {
	position: relative;
	display: block;
	height: 138px;
	margin: 0 auto;

}

/*Logo and Main Nav Buttons*/
.navbarHolder {
	width: 100%;
	height: 5em;
	position: relative;
}

.navbarHolder ul {
	width: 550px;
	margin-left: 650px;
}

.navbar {
	@include navBar;
	width: 100%;
	position: relative;
	float: right;
	top: 15;
	li { 
		text-align: top;
		line-height: 1.5em;
		color: $navBarColor;
		display: inline-block;
		margin-left: .35em;
		padding-left: 1em;
		a {
			margin-left: 15px;
			margin-right: 10px;
			color: $navBarColor;
			position: relative;
			&:hover {
			color: $SwissRed;
			}
				
		}
	}
	.withArrow::after {	
			content: "";
			position: absolute;
			background-image: url("images/sprites.png");	
			background-position: -89px -374px;
			width: 10px;
			height: 10px;
			}
	:first-child {
		margin-left: 2em;
		text-decoration: none;
	}
	#search::after {	
			content: "";
			position: absolute;
			background-image: url("images/sprites.png");	
			background-position: -386px -690px;
			width: 15px;
			height: 15px;
			}
}

#logo {
	position: absolute;
	left: 0;
	bottom: 35px;
	@include swissLogo;
}

#mainNavBar {
	float: left;
	padding-left: 215px;
}

#mainNavBar a {
	@include mainNavButtonFont;
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

#login {
	display: block;
	float: right;
	padding-right: 0;
	@include mainNavButtonFont;
}