/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Main Variable list
Collection of all variable lists
*/
/*Lists all color variables by relationship to the page*/
/*Universal Colors*/
/*Font Colors*/
/*Specific/Unique Colors*/
/*Footer Colors*/
/*Lists all font-families by relationship to the page*/
/*Universal Fonts*/
/*Specific/Unique Fonts*/
/*Collection of all partials, and structural css*/
/*Defines borders by relationship to the page*/
/*Universal Borders*/
/*Specific Borders*/
/*Describes backgrounds*/
/*Universal Backgrounds*/
/*Specific/Unique backgrounds*/
/*Couple chillin*/
/*Font setups organized by mixins*/
/*Universal Fonts*/
/*Navbar Fonts*/
/* line 33, ../sass/partials/_font-mixins.scss */
#login {
  font-family: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;
  font-weight: 300em;
  font-size: 1.85714em;
  text-decoration: none;
  color: #333333;
  vertical-align: top;
}
/* line 27, ../sass/partials/_font-mixins.scss */
#login:hover {
  color: #be1902;
}

/* line 8, ../sass/partials/_layout.scss */
html {
  font-size: 14px;
}

/* line 12, ../sass/partials/_layout.scss */
body {
  position: relative;
}

/* line 16, ../sass/partials/_layout.scss */
.wholeSite {
  width: 60%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 23, ../sass/partials/_layout.scss */
.site-header {
  position: relative;
  display: block;
  height: 138px;
  margin: 0 auto;
}

/*Logo and Main Nav Buttons*/
/* line 32, ../sass/partials/_layout.scss */
.navbarHolder {
  width: 100%;
  height: 5em;
}

/* line 37, ../sass/partials/_layout.scss */
.navbar {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  position: absolute;
  top: 15;
  right: -7%;
  width: 60%;
}
/* line 43, ../sass/partials/_layout.scss */
.navbar li {
  text-align: right;
  line-height: 1.5em;
  color: #7C736C;
  display: inline-block;
  margin-left: .35em;
}
/* line 49, ../sass/partials/_layout.scss */
.navbar li a {
  color: #7C736C;
  margin-right: 5px;
  position: relative;
}
/* line 53, ../sass/partials/_layout.scss */
.navbar li a:hover {
  color: #be1902;
}
/* line 58, ../sass/partials/_layout.scss */
.navbar .withArrow {
  padding-right: 10px;
}
/* line 61, ../sass/partials/_layout.scss */
.navbar .withArrow::after {
  content: "";
  position: absolute;
  background-image: url("images/sprites.png");
  background-position: -89px -374px;
  width: 10px;
  height: 10px;
}
/* line 69, ../sass/partials/_layout.scss */
.navbar :first-child {
  margin-left: 2em;
  width: 30%;
  text-decoration: none;
}
/* line 74, ../sass/partials/_layout.scss */
.navbar #language {
  width: 12.5%;
}
/* line 77, ../sass/partials/_layout.scss */
.navbar #milesMore {
  width: 20%;
}
/* line 80, ../sass/partials/_layout.scss */
.navbar #search {
  width: 12%;
  padding-right: 15px;
  margin-right: 0;
}
/* line 85, ../sass/partials/_layout.scss */
.navbar #search::after {
  content: "";
  position: absolute;
  background-image: url("images/sprites.png");
  background-position: -386px -690px;
  width: 15px;
  height: 15px;
}

/* line 95, ../sass/partials/_layout.scss */
#logo {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 160px;
  height: 37px;
  display: block;
  background-image: url("images/logo-swiss.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px 37px;
}

/* line 102, ../sass/partials/_layout.scss */
#mainNavBar {
  float: left;
  width: 65%;
  padding-left: 150px;
}

/* line 108, ../sass/partials/_layout.scss */
#mainNavBar a {
  font-family: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;
  font-weight: 300em;
  font-size: 1.85714em;
  text-decoration: none;
  color: #333333;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 15%;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 27, ../sass/partials/_font-mixins.scss */
#mainNavBar a:hover {
  color: #be1902;
}

/* line 117, ../sass/partials/_layout.scss */
#login {
  display: block;
  float: right;
  text-align: right;
  margin-right: 0;
  padding-right: 0;
  font-family: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;
  font-weight: 300em;
  font-size: 1.85714em;
  text-decoration: none;
  color: #333333;
  vertical-align: top;
}
/* line 27, ../sass/partials/_font-mixins.scss */
#login:hover {
  color: #be1902;
}

/* line 126, ../sass/partials/_layout.scss */
.mainSiteWrapper {
  width: 100%;
}

/* line 130, ../sass/partials/_layout.scss */
.siteTopper {
  width: 100%;
}

/* line 135, ../sass/partials/_layout.scss */
.bookingBars {
  position: absolute;
  left: 0;
  display: block;
  z-index: 3;
  width: 100%;
}

/* line 143, ../sass/partials/_layout.scss */
.bookingBlock {
  width: 60%;
  margin: 0 auto;
  display: block;
  background-color: #333333;
  background-size: cover;
  border: 3px solid #333333;
  z-index: 2;
}

/* line 154, ../sass/partials/_layout.scss */
.bookingContent {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 164, ../sass/partials/_layout.scss */
.navTabs {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  width: 19.35%;
  border: solid #e1dfda;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 1px 1px 0 0;
  border-color: #333333;
  position: relative;
}

/* line 176, ../sass/partials/_layout.scss */
.navLinks {
  width: 150px;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #333333;
}
/* line 183, ../sass/partials/_layout.scss */
.navLinks::after {
  position: absolute;
  right: 0;
  content: "";
  margin-left: 60px;
  background-image: url("images/sprites.png");
  background-position: -322px -105px;
  width: 25px;
  height: 20px;
}

/* line 195, ../sass/partials/_layout.scss */
#rentalCar::after {
  position: absolute;
  content: "";
  margin-left: 60px;
  background-image: url("images/sprites.png");
  background-position: -285px -210px;
  width: 25px;
  height: 20px;
}

/* line 206, ../sass/partials/_layout.scss */
#hotel::after {
  position: absolute;
  content: "";
  margin-left: 60px;
  background-image: url("images/sprites.png");
  background-position: -264px -263px;
  width: 25px;
  height: 20px;
}

/* line 217, ../sass/partials/_layout.scss */
#bookings::after {
  position: absolute;
  content: "";
  margin-left: 60px;
  background-image: url("images/sprites.png");
  background-position: -90px -96px;
  width: 25px;
  height: 20px;
}

/* line 228, ../sass/partials/_layout.scss */
#checkIn::after {
  position: absolute;
  content: "";
  margin-left: 60px;
  background-image: url("images/sprites.png");
  background-position: -89px -351px;
  width: 25px;
  height: 20px;
}

/* line 239, ../sass/partials/_layout.scss */
.bookingInputs {
  display: block;
  width: 100%;
  line-height: 2.5;
  border: 1px solid #333333;
  background-color: #333333;
  background-size: cover;
  font-weight: bold;
}

/* line 248, ../sass/partials/_layout.scss */
#fromInput {
  display: inline-block;
  width: 40%;
}
/* line 251, ../sass/partials/_layout.scss */
#fromInput input {
  padding-left: 10px;
  width: 80%;
  border-radius: 0%;
}

/* line 257, ../sass/partials/_layout.scss */
#fromBox {
  padding-left: 10px;
  display: inline-block;
  width: 40px;
  text-align: center;
  color: #FFFFFF;
}

/* line 265, ../sass/partials/_layout.scss */
#toInput {
  display: inline-block;
  width: 40%;
}
/* line 268, ../sass/partials/_layout.scss */
#toInput input {
  width: 80%;
  padding-left: 10px;
  border-radius: 0%;
}

/* line 274, ../sass/partials/_layout.scss */
#toBox {
  display: inline-block;
  width: 40px;
  text-align: center;
  color: #FFFFFF;
}

/* line 280, ../sass/partials/_layout.scss */
#goButton {
  display: block;
  float: right;
  text-align: center;
  width: 10%;
  font-size: 16px;
}
/* line 286, ../sass/partials/_layout.scss */
#goButton a {
  color: #FFFFFF;
  text-decoration: none;
}

/*Picture of couple by the beach*/
/* line 293, ../sass/partials/_layout.scss */
.couplePicture {
  margin-top: 40px;
  left: 0;
  position: absolute;
  overflow: auto;
  background: none;
  display: block;
  width: 100%;
  height: 360px;
  z-index: 2;
}

/* line 305, ../sass/partials/_layout.scss */
.backgroundCouple {
  height: 460px;
  width: 100%;
  display: block;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/coupleChillin.jpg");
  transform: translate(0px, 0px);
}
