/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Main Variable list
Collection of all variable lists
*/
/*Lists all color variables by relationship to the page*/
/*Universal Colors*/
/*Font Colors*/
/*Specific/Unique Colors*/
/*Footer Colors*/
/*Lists all font-families by relationship to the page*/
/*Universal Fonts*/
/*Specific/Unique Fonts*/
/*Collection of all partials, and structural css*/
/*Defines borders by relationship to the page*/
/*Universal Borders*/
/*Specific Borders*/
/*Describes backgrounds*/
/*Universal Backgrounds*/
/*Specific/Unique backgrounds*/
/*Font setups organized by mixins*/
/*Universal Fonts*/
/*Navbar Fonts*/
/* line 33, ../sass/partials/_font-mixins.scss */
#login {
  font-family: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;
  font-weight: 300em;
  font-size: 1.85714em;
  text-decoration: none;
  color: #333333;
  vertical-align: top;
}
/* line 27, ../sass/partials/_font-mixins.scss */
#login:hover {
  color: #be1902;
}

/* line 7, ../sass/partials/_layout.scss */
html {
  font-size: 14px;
}

/* line 11, ../sass/partials/_layout.scss */
body {
  width: 67.14286rem;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 18, ../sass/partials/_layout.scss */
.site-header {
  position: relative;
  display: block;
  height: 138px;
  margin: 0 auto;
}

/*Logo and Main Nav Buttons*/
/* line 27, ../sass/partials/_layout.scss */
.navbarHolder {
  width: 100%;
  height: 5em;
  position: relative;
}

/* line 33, ../sass/partials/_layout.scss */
.navbarHolder ul {
  width: 550px;
  margin-left: 650px;
}

/* line 38, ../sass/partials/_layout.scss */
.navbar {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  width: 100%;
  position: relative;
  float: right;
  top: 15;
}
/* line 44, ../sass/partials/_layout.scss */
.navbar li {
  text-align: top;
  line-height: 1.5em;
  color: #7C736C;
  display: inline-block;
  margin-left: .35em;
  padding-left: 1em;
}
/* line 51, ../sass/partials/_layout.scss */
.navbar li a {
  margin-left: 15px;
  margin-right: 10px;
  color: #7C736C;
  position: relative;
}
/* line 56, ../sass/partials/_layout.scss */
.navbar li a:hover {
  color: #be1902;
}
/* line 62, ../sass/partials/_layout.scss */
.navbar .withArrow::after {
  content: "";
  position: absolute;
  background-image: url("images/sprites.png");
  background-position: -89px -374px;
  width: 10px;
  height: 10px;
}
/* line 70, ../sass/partials/_layout.scss */
.navbar :first-child {
  margin-left: 2em;
  text-decoration: none;
}
/* line 74, ../sass/partials/_layout.scss */
.navbar #search::after {
  content: "";
  position: absolute;
  background-image: url("images/sprites.png");
  background-position: -386px -690px;
  width: 15px;
  height: 15px;
}

/* line 84, ../sass/partials/_layout.scss */
#logo {
  position: absolute;
  left: 0;
  bottom: 35px;
  width: 160px;
  height: 37px;
  display: block;
  background-image: url("images/logo-swiss.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px 37px;
}

/* line 91, ../sass/partials/_layout.scss */
#mainNavBar {
  float: left;
  padding-left: 215px;
}

/* line 96, ../sass/partials/_layout.scss */
#mainNavBar a {
  font-family: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;
  font-weight: 300em;
  font-size: 1.85714em;
  text-decoration: none;
  color: #333333;
  vertical-align: top;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 27, ../sass/partials/_font-mixins.scss */
#mainNavBar a:hover {
  color: #be1902;
}

/* line 103, ../sass/partials/_layout.scss */
#login {
  display: block;
  float: right;
  padding-right: 0;
  font-family: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;
  font-weight: 300em;
  font-size: 1.85714em;
  text-decoration: none;
  color: #333333;
  vertical-align: top;
}
/* line 27, ../sass/partials/_font-mixins.scss */
#login:hover {
  color: #be1902;
}
